body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.styleCard {
  border-radius: 8px;
  box-shadow: 0px 0px 8px #ccc;
  color: #253b56;
  margin: 12px 0px;
}

.styleCardContent {
  padding: 4px 16px 20px 16px;
}

.styleImage {
  background-color: lightGray;
  border-radius: 8px 8px 0 0;
  max-height: 140px;
  overflow: hidden;
}

.styleCardTitle {
  font-family: Avenir-Heavy;
  font-size: 20;
  font-weight: 600;
  margin: 12px 0px 0px 0px;
}

.styleLocationLabel {
  color: #8294aa;
  font-size: 14;
  margin: 4px 0;
}

.styleDescription {
  font-size: 14;
  margin: 8px 0 0 0;
}